YAMP-alpha/PlaylistStructure.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="YAMP_Playlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Music">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="File" type="xs:string" />
              <xs:element name="Title" type="xs:string" />
              <xs:element name="TrackNum" type="xs:string" />
              <xs:element name="Album" type="xs:string" />
              <xs:element name="Year" />
              <xs:element name="Artist" />
              <xs:element name="AlbumArtist" type="xs:string" />
              <xs:element name="Composer" />
              <xs:element name="Genre" type="xs:string" />
              <xs:element name="DiskNumber" />
              <xs:element name="Comment" />
              <xs:element name="Path" type="xs:string" />
              <xs:element name="Duration" type="xs:string" />
              <xs:element name="BitRate" type="xs:unsignedInt" />
              <xs:element name="SampleRate" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>